<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.lrd.dao.BackendUserDao">  
    
    <select id="getUser" parameterType="BackendUser" resultType="BackendUser">
    	select
    		 u.*,d.valueName userTypeName 
    	from 
    		backend_user u 
    	JOIN 
    		data_dictionary d 
    	ON 
    		u.userType=d.valueId  
    	<where>
    		d.typeCode ='USER_TYPE'
        	<if test="userCode != null"> and u.userCode = #{userCode}</if>
        	<if test="userPassword != null"> and u.userPassword = #{userPassword}</if>
        </where>
    </select>
    
</mapper>