<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.lrd.dao.DevUserDao">  
    
    <select id="getUser" parameterType="DevUser" resultType="DevUser">
    	select * from dev_user  
    	<where>
        	<if test="devCode != null"> and devCode = #{devCode}</if>
        	<if test="devPassword != null"> and devPassword = #{devPassword}</if>
        </where>
    </select>
    
</mapper>